html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

main {
    width: 370px;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
}

#display {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    height: 75px;
}

#display p {
    font-size: 32px;
    margin-right: 12px;
}

#btnOptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#btnClear, #btnDel {
    width: 180px;
    margin-top: 15px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

#btnClear {
    background-color: #faa;
}

#btnClear:hover {
    background-color: #e99;
}

#btnClear:active {
    background-color: #d88;
}

#btnDel {
    background-color: #aaf;
}

#btnDel:hover {
    background-color: #99e;
}

#btnDel:active {
    background-color: #88d;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 85px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
    
}

.btn:active {
    background-color: #ccc;
}